@page "/cows"
@page "/cows/{SelectedCowID:int}"
@page "/cows/{SelectedCowID:int}/{LactationID:int}"
@page "/cows/{SomeTxtParam}"
@page "/krowy"

@using System.Collections.Generic
@inject ICowsViewModel CowsVM

<h1>MVVM</h1>
@if (CowsVM.AddCowFormViewModel == null)
 {
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button " class="btn btn-secondary btn-sm" @onclick="CowsVM.InitializeNewCowForm">Dodaj</button>
    </div>
 }
@if (CowsVM.AddCowFormViewModel != null)
 {
    <div class="alert alert-secondary mt-4" role="alert">
        <strong>Dodaj krowe</strong>

        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
            <label class="form-check-label" for="flexSwitchCheckChecked">Dodaj jako ciele krowy z zakładu</label>
        </div>

        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">ID</label>
        </div>

        <div class="form-floating">
            <input type="password" class="form-control form-control-sm" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-secondary btn-sm" @onclick="CowsVM.AddNewCow">Zapisz</button>
        </div>
    </div>
 }

@if (CowsVM.CowList == null)
 {
    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
 }
@if (CowsVM.CowList != null)
{
    <p>Filter:</p>
    <br/>
    <input @bind="CowsVM.SearchFilter" @bind:event="oninput"/>

    <table class="table table-hover table-sm">
      <thead>
          <tr>
              <th scope="col">Id</th>
              <th scope="col">Farma</th>
              <th scope="col">Liczba laktacji</th>
              <th scope="col">Id matki</th>
          </tr>
      </thead>
      <tbody>
          @foreach (var item in CowsVM.CowList)
          {
              <tr>
                  <th scope="row">@item.NameOnFarm</th>
                  <td>@item.FarmName</td>
                  <td>@item.LactationCount</td>
                  <td>@item.ParentID</td>
              </tr>
          }
      </tbody>
    </table>

    @*paginacja*@
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end pagination-sm">
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
}

<h3>Cows</h3>

<select @onchange="ItemSelected" class="form-select" size="3" aria-label="size 3 select example">
    @foreach (var cow in CowList)
     {
       <option value="@cow.ID.ToString()">@cow.NameOnFarm</option>
     }
</select>

@if (SelectedCow != null)
    {
        <br />
        <div>
            Informacje szczegółowe:
            Oznaczenie na farmie: @SelectedCow.NameOnFarm
            Płeć: @(SelectedCow.IsMale ? "Samiec" : "Samica")
        </div>
    }


@code {
List<Cow> CowList;
Cow SelectedCow;

[Parameter]
public int? SelectedCowID { get; set; }

[Parameter]
public int? LactationID { get; set; } //todo

[Parameter]
public string SomeTxtParam { get; set; }

public class Cow
{
        public int ID { get; set; }//use by DB
        public int NameOnFarm { get; set; }//ID used on farm
        public int FarmID { get; set; }
        public int? ParentID { get; set; }

        public bool IsMale { get; set; }
}

void ItemSelected(ChangeEventArgs args)
        => SelectedCow = CowList.FirstOrDefault(x => x.ID.ToString() == args.Value.ToString());

public override Task SetParametersAsync(ParameterView parameters)
{
        //called as first method called when page load, before parameters are set, it happends each time we set params (not once like init)
        return base.SetParametersAsync(parameters);
}

protected override Task OnInitializedAsync()
{
        //called second, after parameters are set, only once when page is initialized

        CowList = new List<Cow>()
            {
            new Cow(){ ID = 1, FarmID = 1, NameOnFarm = 203, IsMale = false },
            new Cow(){ ID = 2, FarmID = 1, NameOnFarm = 204, IsMale = false, ParentID = 1},
            new Cow(){ ID = 3, FarmID = 1, NameOnFarm = 205, IsMale = false, ParentID = 1 }
        };

        @if (SelectedCowID != null)
            SelectedCow = CowList.FirstOrDefault(x => x.ID == SelectedCowID);

        return base.OnInitializedAsync();
}

protected override Task OnParametersSetAsync()
{
        //called each time when any of parameters is changes (set from other page or from same) - https://youtu.be/Rp-UDNLqZEc?t=1304
        return base.OnParametersSetAsync();
}

protected override Task OnAfterRenderAsync(bool firstRender)
{
        //called as last
        return base.OnAfterRenderAsync(firstRender);
}
}
