@page "/superuserpanel"
@*@attribute [Authorize(Roles = "SuperUser")]*@

@using Models
@using Microsoft.AspNetCore.Identity;

@inject UserManager<ApplicationUser> _userManager
@inject RoleManager<IdentityRole> _roleManager
@inject AuthenticationStateProvider _authenticationStateProvider
@inject ISuperUserPanelViewModel _superAdminPanelViewModel

<h1>Panel zarządzania aplikacji</h1>
<p>Z tego miejsca odbywać się będzie zarządzanie firmami, farmami, użytkownikami - tylko super user</p>

<hr />
<h2>Role użytkowników</h2>
<p>Todo - lista?</p>
<p>dodaj nową role - UWAGA! W celu dodania nowej roli nanieś zmiany w kodzie (tj. dodaj nowy enum EAspNetRole i użyj go w metodzie)</p>
<button @onclick="@_superAdminPanelViewModel.CreateInitRoles">Jednorazowo! Zainicjuj role: regular, admin, superUser</button>
<button @onclick="@_superAdminPanelViewModel.CreateSuperUser">Jednorazowo! Utwórz konto superusera i przypisze do roli SuperUser(musi już być)</button>


<hr />
<h2>Użytkownicy:</h2>
@if (_superAdminPanelViewModel.UsersViewModels != null)
{
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th scope="col">user ID</th>
                <th scope="col">email</th>
                <th scope="col">company ID</th>
                <th scope="col">roles IDs</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var userViewModel in _superAdminPanelViewModel.UsersViewModels)
            {
                <tr class="bg-hover-white-smoke w-100 pointer">
                    <th scope="row"> @userViewModel.UserID </th>
                    <td> @userViewModel.Email </td>
                    <td> @userViewModel.CompanyID </td>
                    <td> @userViewModel.Roles </td>
                </tr>
            }
        </tbody>
    </table>
}


@if (_superAdminPanelViewModel.AddUserViewModel == null)
{
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-secondary btn-sm" @onclick="_superAdminPanelViewModel.InitializeAddUser">Dodaj</button>
    </div>
}
@if (_superAdminPanelViewModel.AddUserViewModel != null)
{
    <div class="alert alert-secondary mt-4" role="alert">
        <h4>Dodaj nowego użytkownika</h4>
        <EditForm Model="@_superAdminPanelViewModel.AddUserViewModel" OnValidSubmit="@_superAdminPanelViewModel.AddNewUser">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-floating">
                <InputText type="email" class="form-control" placeholder="hack" @bind-Value="_superAdminPanelViewModel.AddUserViewModel.Email" />
                <label>Email(login)</label>
            </div>

            <div class="form-floating">
                <InputText type="password" class="form-control" placeholder="hack" @bind-Value="_superAdminPanelViewModel.AddUserViewModel.Password" />
                <label>Hasło</label>
            </div>

            <div class="form-floating">
                <InputSelect class="form-select" id="floatingSelect" aria-label="Floating label select example" @bind-Value="_superAdminPanelViewModel.AddUserViewModel.CompanyID">
                    <option value="">Wybierz firme</option>
                    @foreach (var company in _superAdminPanelViewModel.Companies)
                        {
                        <option value="@company.ID">@company.Name</option>
                        }
                </InputSelect>
                <label for="floatingSelect">Firma</label>
            </div>

            <button type="submit" class="btn btn-secondary btn-sm">Dodaj</button>
            <button class="btn btn-secondary btn-sm" @onclick="_superAdminPanelViewModel.CancelAddUser">Anuluj</button>
        </EditForm>
    </div>
}

<hr />
<h2>Firmy i farmy:</h2>
<p1>todo add new company</p1>
<p2>todo add new farm</p2>


@code {
}