@page
@model LoginModel

@{
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MilkUp</title>
    <base href="~/" />
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="lib/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="css/login.css" rel="stylesheet" />
</head>
<body>
    <div class="text-center">
        <main class="form-signin">
            <form id="account" method="post">
                <i class="bi bi-key" style="font-size: 5rem; margin: 1rem;"></i>

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" asp-for="Input.Email">
                    <label for="floatingInput">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" asp-for="Input.Password">
                    <label for="floatingPassword">Hasło</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" asp-for="Input.RememberMe" /> Zapamiętaj
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Zaloguj</button>
                <p class="mt-5 mb-3 text-muted">W celu uzyskania danych do logowania lub konieczności zrestarowania hasła zgłoś się do administratora.</p>
            </form>
        </main>
    </div>


    @*<h1>POZOSTAŁE OPCJE</h1>
    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
    @if ((Model.ExternalLogins?.Count ?? 0) == 0)
    {
        <div>
            <p>
                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else
    {
        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
            <div>
                <p>
                    @foreach (var provider in Model.ExternalLogins)
                    {
                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName ccount">@provider.DisplayName</button>
                    }
                </p>
            </div>
        </form>
    }*@                
</body>
    
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}